body {
    /*background: #fafaf7;*/
    font-family: Meiryo;
    color: #000000;
    }
h1{
  ine-height: 160%;
  font-size: 160%;
  color: #e2ff3d;
  /*-webkit-text-stroke: .2px white;
  text-stroke: .2px white;*/
  border: 5px solid #a3a398;
  background-color: #63635c;
  font-weight: 900;
  text-align: center;
  margin: auto;
  padding: auto;
}
h2{
  font-size:130%;
  color: #000000;
  font-weight: 600;
}
h3{
  ine-height: 100%;
  font-size: 100%;
  font-size:100%;
  color: #000000;
  font-weight: 300;
}
a {
color: #000000;
font-weight: bold;
text-decoration: none;
}
a:hover{
  color: #adadac;
  font-weight: bold;
}
.center {
  text-align: center;
}
.center * {
  margin-right: auto;
  margin-left: auto;
}
/* SNS ボタンのグループ */
.snsButtons {
  margin: 5px;
  padding: 0px;
  text-align: center;
}
.snsButtons a {
  text-decoration: none;
}
/* 各 SNS ボタンのボックス */
.snsButtons li {
  display: inline-block;  /* 水平に並べる */
  list-style-type: none;  /* 先頭のポッチを消す */
  margin: 2px;
  padding: 6px 0px;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
/* マウスカーソルを重ねたとき */
.snsButtons li:hover {
  opacity: 0.7;
}
/* クリックしたとき */
.snsButtons li:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
/* アイコン部分 */
.snsButtons i {
  font-size: 18pt;
  min-width: 40px;
  margin: 0px;
  padding: 0px 0px 0px 8px;
  vertical-align: bottom;
}
/* テキスト部分 */
.snsButtons_label {
  min-width: 80px;
  display: inline-block;
  padding: 0px 8px 0px 0px;
  text-align: center;
  font-size: 12pt;
}
/* 各 SNS のブランドカラー */
.snsButtons_twitter  { background: #1da1f2; }
.snsButtons_facebook { background: #3b5998; }
.snsButtons_pocket   { background: #ee4056; }
.snsButtons_google   { background: #dd4b39; }

/* ボタン全体 */
.flowbtn{
font-family:'Arial',sans-serif;/* 好きなフォントを指定してね */
border-radius:4px;
position:relative;
display:inline-block;
width:66px;
height:58px;
font-size:30px;
color:#fff!important;
transition:.5s;
text-decoration:none;
box-shadow:0 1px 2px #999;
}
.flowbtn i{
position:relative;
bottom:5px;
}
/* Twitter */
.fl_tw1{
background:#55acee;
}
/* Facebook */
.fl_fb1{
background:#3b5998;
}
/* はてブ */
.fl_hb1{
background:#1ba5dc;
}
/* Pocket */
.fl_pk1{
background:#ef3f56;
}
/* Feedly */
.fl_fd1{
background:#6cc655;
}
/* YouTube */
.fl_yu1{
background:#fc0d1c;
}
/* LINE */
.fl_li1{
background:#00c300;
}
/* 問い合わせ */
.fl_ma1{
background:#f3981d;	
}
/* Instagram紫グラデ背景 */
.insta_btn1{
background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
overflow:hidden;
}
/* Instagramオレンジグラデ背景 */
.insta_btn1:before{
content: '';
position:absolute;
top:33px;
left:-20px;
width:80px;
height:50px;
background:-webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
background:radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}
/* ボタン内テキスト調整 */
.flowbtn div{
font-size:11px;	
font-weight:bold;
letter-spacing:0;
position:relative;
bottom:22px;
}
/* ボタンマウスホバー時 */
.flowbtn:hover{
-webkit-transform:translateY(-5px);
-ms-transform:translateY(-5px);
transform:translateY(-5px);
text-decoration:none;
}
/* ulタグの内側余白を０にする */
ul.snsbtniti{
padding:0!important;
list-style-type:none!important;
}
/* ボタン全体の位置調整 */
.snsbtniti{
display:flex;
flex-flow:row wrap;
justify-content:space-around;
}
/* ボタン同士の余白調整 */
.snsbtniti li{
flex:0 0 33%;
text-align:center!important;
}
