body {
    background: #fafaf7;
    font-family: Meiryo;
    color: #000000;
    }
h1{
  ine-height: 160%;
  font-size: 160%;
  color: #e2ff3d;
  /*-webkit-text-stroke: .2px white;
  text-stroke: .2px white;*/
  border: 5px solid #a3a398;
  background-color: #63635c;
  font-weight: 900;
  text-align: center;
  margin: auto;
  padding: auto;
}
h2{
  font-size:130%;
  color: #000000;
  font-weight: 600;
}
h3{
  ine-height: 100%;
  font-size: 100%;
  font-size:100%;
  color: #000000;
  font-weight: 300;
}
ccccccccccccccccccccccccc
a{
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  color : #adadac;
  font-weight: bold;
}
.center {
  text-align: center;
}
.center * {
  margin-right: auto;
  margin-left: auto;
}
