body {
    background: #fafaf7;
    font-family: Meiryo;
    color: #000000;
    }
h1{
  ine-height: 160%;
  font-size: 160%;
  color: #e2ff3d;
  /*-webkit-text-stroke: .2px white;
  text-stroke: .2px white;*/
  border: 5px solid #a3a398;
  background-color: #63635c;
  font-weight: 900;
  text-align: center;
  margin: auto;
  padding: auto;
}
h2{
  font-size:130%;
  color: #000000;
  font-weight: 600;
}
h3{
  ine-height: 100%;
  font-size: 100%;
  font-size:100%;
  color: #000000;
  font-weight: 300;
}
ccccccccccccccccccccccccc
a{
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  color : #adadac;
  font-weight: bold;
}
.parent{
  border: 1px solid #aaa;
  padding: 10px;
  text-align: center;
  width: 400px;
}
.inner{
   display:inline-block;
   padding:10px;
   border: 1px dashed #ccc;
}
.tablecell{
  border: 1px solid #aaa;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 250px;
  margin: 20px;
}
